html {
  font-family: "Lobster", cursive;
  font-size: 20px;
  background-image: url("../imagine/seamless-besshovnyi-tsvety-floral-pattern-pattern-14.jpg");
}
p {
  color: #7f4cb2;
}
.frame {
  border: 7px solid #7f4cb2;
}
img {
  border: 10px solid red;
  display: block;
  margin: 0 auto;
}
body {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  background-color: bisque;
}
h1 {
  font-size: 55px;
  text-align: center;
  color: crimson;
  margin: 0;
  padding: 20px 0;
  text-shadow: 5px 7px 4px black;
}
p,
li {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
}
h2 {
  font-size: 40px;
  text-align: center;
}
h3 {
  font-size: 30px;
  color: #230f19;
}
